* {
	box-sizing: border-box;
}

body {
	/*background-color: #ebebeb;*/

}

::selection {
	background-color: #808ed7;
}

/*--------------------------Вкладки--------------------------*/

.tabbed {
  width: 944px;
  margin: 50px auto;
}

.tabbed > input {
  display: none;
}

.tabbed > label {
  display: block;
  float: left;
  padding: 12px 20px;
  margin-right: 5px;
  margin-bottom: 0;
  cursor: pointer;
  transition: background-color .3s;
}

.tabbed > label:hover,
.tabbed > input:checked + label {
  background: #808ed7;
}

.tabs {
  clear: both;
}

.tabs > div {
  width: 944px;
  position: absolute;
  border: 2px solid #808ed7;
  line-height: 1.4em;
  opacity: 0;
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3){
	opacity: 1;
}

/*--------------------------Группы--------------------------*/

.box {
	margin-top: 20px;
	width: 944px;
	height: 252px;
}

.group {
	color: #35343a;
	width: 451px;
	height: 252px;
	border-left: 1px solid #bababa;
	border-top: 1px solid #bababa;
	margin-left: 10px;
	margin-right: 10px;
}

.i,.v,.vo,.po,.p,.gz,.gp,.rg,.o {
	width: 40px;
	height: 28px;
}

.country {
	width: 90px;
	height: 28px;
}

.team > div, .legend > div {
	border-right: 1px solid #bababa;
	border-bottom: 1px solid #bababa;
	padding-top: 3px;
	text-align: center;
	float: left;
	/*padding-left: 5px;*/
}

.legend {
	background-color: #d7d7d7;
	font-weight: 700;
	float: left;
}

.team {
	float: left;
}

.t1,.t2,.t3,.t4 {
	background-color: #c0fac4;
}

.t8 {
	background-color: #fad3d3;
}

.box > div,.box2 > div{
	float: left;
}

/*--------------------------Список игр--------------------------*/

.box2 {
	margin-top: 10px;
	width: 944px;
	height: 1350px;
}

.matches {
	color: #35343a;
	font-size: 8pt;
	text-align: center;
	width: 451px;
	height: 1350px;
	margin-left: 10px;
	margin-right: 10px;
}

.match {
	border: 1px solid #bababa;
	width: 451px;
	height: 38px;
	margin-top: 10px;
	float: left;
}

.match > div {
	float: left;
}

.flag1,.flag2 {
	width: 50px;
	height: 38px;
}

.team1,.team2 {
	width: 100px;
	height: 38px;
	position: relative;
	top: 4px;
}

.inf {
	width: 151px;
	height: 38px;
}

.date {
	position: relative;
	top: -4px;
	height: 9px;
}

.time {
	position: relative;
	top: -4px;
	height: 10px;
}

.arena {
	position: relative;
	top: -4px;
	height: 9px;
}

.stak {
	width: 180px;
	height: 400px;
	float: left;
}