<div id="main">
	<div id="header">IHWC 2014</div>
	<ul id="menu">
		<li class="-active"><a href="#b-group">Group</a></li>
		<li><a href="#b-playoff">Play-Off</a></li>
		<li><a href="#b-info">Info</a></li>
	</ul>
	<div id="content" class="tabs">
		<%= @games %>
		<div id="b-group" class="tab">
			<%= partial "tabs/group" %>
		</div>
		<div id="b-playoff" class="tab">
			<%= partial "tabs/playoff" %>
		</div>
		<div id="b-info" class="tab">
			<%= partial "tabs/info" %>
		</div>
	</div>
</div>
<div class="header-bg"></div>
